body {
    font-family: Arial, sans-serif;
    background-image: url('/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.minimap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url('/images/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;

}

.menu-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.bottom-menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-panel-item {
    height: 100px; /* Примерная высота, которую вы можете изменить по своему усмотрению */
}

.inventory,
.players,
.chat {
    flex: 1;
    margin: 0px;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ccc;
}

.action-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 150px;
    width: 100%;
}

.action-button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    cursor: pointer;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    margin: 0 10px;
    text-align: center;
}

.player-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
}

.player-nickname {
    margin-top: 5px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inventory-item {
    width: 30%; /* Обеспечивает три ячейки на одной строке */
    height: 50px; /* или любая другая высота, которую вы хотите установить */
    background-color: #ccc; /* Пример цвета для ячейки */
    margin-bottom: 10px; /* Промежуток между ячейками */
    border: 1px solid #999; /* Граница ячейки */
}